.mdl-layout__drawer {
    position: fixed;
    float: left;
    border-right: hidden;
    box-shadow: none;
    background: rgba(100,100,100,0);
    top: 64px;
}

.mdl-layout__header {
    background: rgb(66,133,244);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
