<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/static/materialize/css/materialize.min.css" />
  <link rel="stylesheet" href="/static/mdl/material.css" />
  <link rel="stylesheet" href="/static/mdl/material_icon.css" />
  <link rel="stylesheet" href="/static/polls/css/mdl_css_change.css" />
  <link rel="stylesheet" href="/static/polls/css/material_css_change.css" />
{#  <link rel="stylesheet" href="/static/semantic_ui/semantic.min.css" />#}

  <script src="/static/jquery/jquery-2.1.4.js"></script>
  <script src="/static/materialize/js/materialize.min.js"></script>
  <script src="/static/mdl/material.js"></script>
{#  <script src="/static/semantic_ui/semantic.min.js"></script>#}
  <script src="/static/polls/js/mdl_js_change.js"></script>
  <script src="/static/polls/js/material_js_change.js"></script>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">借用状态</span>
        <div class="mdl-layout-spacer"></div>
{#        <nav class="mdl-navigation mdl-layout--large-screen-only"></nav>#}
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">stop</i>实物资源</div>
          <div class="collapsible-body">
            <ul>
              <li><button class="mdl-button mdl-js-button apply-button"><i class="material-icons">label</i>申请借用</button></li>
              <li><button class="mdl-button mdl-js-button state-button"><i class="material-icons">turned_in</i>借用状态</button></li>
              <li><button class="mdl-button mdl-js-button history-button"><i class="material-icons">videocam</i>借用历史</button></li>
            </ul>
            <div class="dividing-line"></div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">stop</i>计算资源</div>
          <div class="collapsible-body">
            <ul>
              <li><button class="mdl-button mdl-js-button apply-button"><i class="material-icons">label</i>申请借用</button></li>
              <li><button class="mdl-button mdl-js-button state-button"><i class="material-icons">turned_in</i>借用状态</button></li>
              <li><button class="mdl-button mdl-js-button history-button"><i class="material-icons">videocam</i>借用历史</button></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <main class="mdl-layout__content">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
{#      <div class="page-content"></div>#}
    </main>
  </div>
</body>
</html>