<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/static/mdl/material.css" />
  <link rel="stylesheet" href="/static/mdl/material_icon.css" />
  <link rel="stylesheet" href="/static/polls/css/mdl_css_change.css" />
  <link rel="stylesheet" href="/static/semantic_ui/semantic.min.css" />

  <script src="/static/jquery/jquery-2.1.4.min.js"></script>
  <script src="/static/mdl/material.js"></script>
  <script src="/static/semantic_ui/semantic.min.js"></script>
  <script src="/static/polls/js/mdl_js_change.js"></script>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">借用状态</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">

    </div>
    <main class="mdl-layout__content">
      <div class="page-content"><!-- Your content goes here --></div>
    </main>
  </div>
</body>
</html>