<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="/static/mdl/material.css" />
  <link rel="stylesheet" href="/static/mdl/material_icon.css" />
  <script src="/static/jquery/jquery-2.1.4.js"></script>
  <script src="/static/mdl/material.js"></script>

  <style type="text/css">
    button {
      margin-left: 30px;
    }
    .title {
      margin-left: 30px;
    }
    a {
      text-decoration:none;
    }
  </style>

  <script type="text/javascript">
    $(window).load(function() {
      $("#send-mail").click(function() {
        $.get("/sendMail",
          function(data,status){
            alert("数据：" + data + "\n状态：" + status);
          });
      });
    });
  </script>

</head>
<body>
<h1 class="title">Hello World</h1>
<a href="/download" download="test.txt">
  <button  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    download
  </button>
</a>
<button id="send-mail" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  send a mail
</button>


</body>
</html>